<footer>
    <div class="container">
        <div class="footer-top">
            <div class="row">
                <div class="col-md-6 col-lg-3 about-footer">
                    <h3>University of transport and communications</h3>
                    <ul>
                        <li><a href="tel:(010) 1234 4321"><i class="fas fa-phone fa-flip-horizontal"></i>(028).3736.054</a></li>
                        <li><i class="fas fa-map-marker-alt"></i>
                            450-451 Lê Văn Việt, Phường Tăng Nhơn Phú A, Thành phố Thủ Đức, TP.Hồ Chí Minh
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-2 page-more-info">
                    <div class="footer-title">
                        <h4>Đi đến</h4>
                    </div>
                    <ul>
                        <li>
                            <a class="nav-link" [routerLink]="'/about'">Về chúng tôi</a>
                          </li>
                          <li>
                            <a class="nav-link" [routerLink]="'/inspection'">Thông tin bảo trì</a>
                          </li>
                          <li>
                            <a class="nav-link" [routerLink]="'/contact'">Thông tin liên hệ</a>
                          </li>
                          <li>
                            <a class="nav-link" [routerLink]="'/login'">Đăng nhập</a>
                          </li>
                    </ul>
                </div>

                <div class="col-md-6 col-lg-3 page-more-info">
                    <div class="footer-title">
                        <h4>Thông tin website</h4>
                    </div>
                    <ul>
                        <li><a href="#">Hệ thống quản trị rủi ro UTC2</a></li>
                        <li><a href="#">Nhựt Trần: 6051071087@st.utc2.edu.vn</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-4 open-hours">
                    <div class="footer-title">
                        <h4>Giờ hoạt động</h4>
                        <ul class="footer-social">
                            <li><a href="" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>

                        </ul>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><i class="far fa-clock"></i>Thứ 2 -> thứ 7</td>
                                <td>9:00am - 5:00pm</td>
                            </tr>
                            <tr>
                                <td><i class="far fa-clock"></i>Những khung giờ khác</td>
                                <td>(028).3736.054</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div class="footer-logo">

                    <table>
                        <tbody>
                            <tr>
                                <td><img src="https://i.ibb.co/vxc577d/dummy-logo3.jpg"></td>
                                <td><img src="https://i.ibb.co/vxc577d/dummy-logo3.jpg"></td>
                                <td><img src="https://i.ibb.co/vxc577d/dummy-logo3.jpg"></td>
                                <td><img src="https://i.ibb.co/vxc577d/dummy-logo3.jpg"></td>
                                <td><img src="https://i.ibb.co/vxc577d/dummy-logo3.jpg"></td>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-sm-4">
                    <a [routerLink]="'/policy'">Chính sách bảo mật</a>
                </div>
                <div class="col-sm-8">
                    <p>UTC2 @2024 All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>