<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Vertical Navbar -->
    <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- User menu (mobile) -->
            <div class="navbar-user d-lg-none">
                <!-- Dropdown -->
                <div class="dropdown">
                    <!-- Toggle -->
                    <a href="#" id="sidebarAvatar" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="avatar-parent-child">
                            <img alt="Image Placeholder" src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar- rounded-circle">
                            <span class="avatar-child avatar-badge bg-success"></span>
                        </div>
                    </a>
                    <!-- Menu -->
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarAvatar">
                        <a href="#" class="dropdown-item">Profile</a>
                        <a href="#" class="dropdown-item">Settings</a>
                        <a href="#" class="dropdown-item">Billing</a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">Logout</a>
                    </div>
                </div>
            </div>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidebarCollapse">
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a *ngIf="userService.getUserRole() == 'ROLE_USER'" class="nav-link" [routerLink]="'/user-dashboard/main'">
                            <i class="bi bi-house"></i> Quản lý ticket
                        </a>
                        <a *ngIf="userService.getUserRole() == 'ROLE_ADMIN' || userService.getUserRole() == 'ROLE_SYSTEM_ADMIN'" class="nav-link" [routerLink]="'/admin-dashboard/main'">
                            <i class="bi bi-house"></i> Quản lý ticket
                        </a>
                    </li>
                    <li class="nav-item">
                        <a *ngIf="userService.getUserRole() == 'ROLE_USER'" class="nav-link" [routerLink]="'/user-dashboard/statistics'">
                            <i class="bi bi-bar-chart"></i> Thống kê
                        </a>
                        <a *ngIf="userService.getUserRole() == 'ROLE_ADMIN' || userService.getUserRole() == 'ROLE_SYSTEM_ADMIN'" class="nav-link" [routerLink]="'/admin-dashboard/statistics'">
                            <i class="bi bi-bar-chart"></i> Thông kê
                        </a>
                    </li>
                    <li class="nav-item">
                        <a *ngIf="userService.getUserRole() == 'ROLE_USER'" class="nav-link" [routerLink]="'/user-dashboard/chat'">
                            <i class="bi bi-chat"></i> Nhắn trực tuyến
                        </a>
                        <a *ngIf="userService.getUserRole() == 'ROLE_ADMIN' || userService.getUserRole() == 'ROLE_SYSTEM_ADMIN'" class="nav-link" [routerLink]="'/admin-dashboard/chat'">
                            <i class="bi bi-chat"></i> Nhắn trực tuyến
                        </a>
                        <form (ngSubmit)="chatting()" class="forms_field">
                            <input [(ngModel)]="sendTo" name="sendTo" type="email" placeholder="Nhập email" class="forms_field-input" required autofocus />
                            <button type="submit" class="btn"><i class="bi bi-chat"></i></button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a *ngIf="userService.getUserRole() == 'ROLE_SYSTEM_ADMIN'" class="nav-link" [routerLink]="'/system-admin-dashboard/configuration-management'">
                            <i class="bi bi-chat"></i> Quản lý cấu hình
                        </a>
                    </li>
                </ul>
                <!-- Divider -->
                <hr class="navbar-divider my-5 opacity-20">

                <!-- Push content down -->
                <div class="mt-auto"></div>
                <!-- User (md) -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-person-square"></i> Account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-box-arrow-left"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h1 class="h2 mb-0 ls-tight">Ứng dụng quản trị rủi ro UTC2</h1>
                        </div>
                        <!-- Actions -->
                        <div class="col-sm-6 col-12 text-sm-end">
                            <div class="mx-n1">
                                <a *ngIf="userService.getUserRole() == 'ROLE_USER'" [routerLink]="'/user-dashboard/add-ticket'" class="btn d-inline-flex btn-sm btn-primary mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-plus"></i>
                                    </span>
                                    <span>Thêm ticket</span>
                                </a>
                                <a *ngIf="userService.getUserRole() == 'ROLE_ADMIN'" [routerLink]="'/admin-dashboard/add-ticket'" class="btn d-inline-flex btn-sm btn-primary mx-1">
                                    <span class=" pe-2">
                                        <i class="bi bi-plus"></i>
                                    </span>
                                    <span>Thêm ticket</span>
                                </a>
                            </div>
                        </div>
                       
                    </div>
                    <!-- Nav -->
                    <ul class="nav mt-4 overflow-x border-0">
                        <ng-container *ngIf="userService.getUserRole() == 'ROLE_USER'">
                            <li class="nav-item ">
                                <a (click)="refreshPage()" [routerLink]="'/user-dashboard/main'" class="nav-link active">Tất cả ticket</a>
                            </li>
                            <li class="nav-item">
                                <a (click)="refreshPage()" [routerLink]="'/user-dashboard/main'" [queryParams]="{status: 'COMPLETED'}" class="nav-link font-regular">Ticket đã hoàn thành</a>
                            </li>
                            <li class="nav-item">
                                <a (click)="refreshPage()" [routerLink]="'/user-dashboard/main'" [queryParams]="{status: 'IN-PROGRESS'}" class="nav-link font-regular">Ticket đang xử lý</a>
                            </li>
                            <li class="nav-item">
                                <a (click)="refreshPage()" [routerLink]="'/user-dashboard/main'" [queryParams]="{status: 'NEW'}" class="nav-link font-regular">Ticket đang chờ</a>
                            </li>
                        </ng-container>
                        <ng-container *ngIf="userService.getUserRole() == 'ROLE_ADMIN'">
                            <li class="nav-item ">
                                <a (click)="refreshPage()" [routerLink]="'/admin-dashboard/main'" class="nav-link active">Tất cả ticket</a>
                            </li>
                            <li class="nav-item">
                                <a (click)="refreshPage()" [routerLink]="'/admin-dashboard/main'" [queryParams]="{status: 'COMPLETED'}" class="nav-link font-regular">Ticket đã hoàn thành</a>
                            </li>
                            <li class="nav-item">
                                <a (click)="refreshPage()" [routerLink]="'/admin-dashboard/main'" [queryParams]="{status: 'IN-PROGRESS'}" class="nav-link font-regular">Ticket đang xử lý</a>
                            </li>
                            <li class="nav-item">
                                <a (click)="refreshPage()" [routerLink]="'/admin-dashboard/main'" [queryParams]="{status: 'NEW'}" class="nav-link font-regular">Ticket đang chờ</a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </header>
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <!-- Card stats -->
                <div class="row g-6 mb-6">
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Số lượng đã hoàn thành</span>
                                        <span class="h3 font-bold mb-0">{{trackingInformation.completedTask}}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                                            <i class="bi bi-credit-card"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-success text-success me-2">
                                        <i class="bi bi-arrow-up me-1"></i>13%
                                    </span>
                                    <span class="text-nowrap text-xs text-muted">Since last month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Số lượng đang xử lý</span>
                                        <span class="h3 font-bold mb-0">{{trackingInformation.inProgressTask}}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                                            <i class="bi bi-people"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-success text-success me-2">
                                        <i class="bi bi-arrow-up me-1"></i>30%
                                    </span>
                                    <span class="text-nowrap text-xs text-muted">Since last month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-12">
                        <div class="card shadow border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h6 font-semibold text-muted text-sm d-block mb-2">Số lượng đang chờ</span>
                                        <span class="h3 font-bold mb-0">{{trackingInformation.newTask}}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-info text-white text-lg rounded-circle">
                                            <i class="bi bi-clock-history"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2 mb-0 text-sm">
                                    <span class="badge badge-pill bg-soft-danger text-danger me-2">
                                        <i class="bi bi-arrow-down me-1"></i>-5%
                                    </span>
                                    <span class="text-nowrap text-xs text-muted">Since last month</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="card shadow border-0 mb-7">
                    <div class="card-header">
                        <h5 class="mb-0">Để biết thêm thông tin về tính năng vui lòng liên hệ quản trị viên !</h5>
                    </div>
                    <div class="">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
